version: "3.9"

services:
  web:
    build: .
    container_name: employee_management_web
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: employee_management_db
    ports:
      - "5432:5432"
    env_file:
    - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:




